<div class="tab-pane fade" id="Retrievaljobs" role="tabpanel" aria-labelledby="Retrievaljobs">
  <div class="card mb-4">
    <div class="card-header d-flex fs-5">
      <button class="btn d-md-none flex-grow-1 text-start" data-bs-target="#collapse-tab-Retrievaljobs" data-bs-toggle="collapse" aria-controls="collapse-tab-Retrievaljobs">
        {{ lang.user.retrieval_jobs }}
      </button>
      <span class="d-none d-md-block">{{ lang.user.retrieval_jobs }}</span>
    </div>
    <div id="collapse-tab-Retrievaljobs" class="card-body collapse" data-bs-parent="#user-content">
      <div class="mass-actions-user mb-4">
        <div class="btn-group" data-acl="{{ acl.retrievaljobs }}">
          <div class="btn-group">
            <a class="btn btn-sm btn-xs-half d-block d-sm-inline btn-secondary" id="toggle_multi_select_all" data-id="retrievaljob" href="#"><i class="bi bi-check-all"></i> {{ lang.mailbox.toggle_all }}</a>
            <a class="btn btn-sm btn-xs-half d-block d-sm-inline btn-secondary dropdown-toggle" data-bs-toggle="dropdown" href="#">{{ lang.mailbox.quick_actions }}</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" data-action="edit_selected" data-id="retrievaljob" data-api-url='edit/retrievaljob' data-api-attr='{"active":"1"}' href="#">{{ lang.mailbox.activate }}</a></li>
              <li><a class="dropdown-item" data-action="edit_selected" data-id="retrievaljob" data-api-url='edit/retrievaljob' data-api-attr='{"active":"0"}' href="#">{{ lang.mailbox.deactivate }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" data-datatables-expand="retrieval_job_table" data-table="retrieval_job_table" href="#">{{ lang.datatables.expand_all }}</a></li>
              <li><a class="dropdown-item" data-datatables-collapse="retrieval_job_table" data-table="retrieval_job_table" href="#">{{ lang.datatables.collapse_all }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" data-action="delete_selected" data-id="retrievaljob" data-api-url='delete/retrievaljob' href="#">{{ lang.mailbox.remove }}</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <a class="btn btn-sm d-block d-sm-inline btn-success" href="#" data-bs-toggle="modal" data-bs-target="#addRetrievalJobModal"><i class="bi bi-plus-lg"></i> {{ lang.user.create_retrievaljob }}</a>
          </div>
        </div>
      </div>
      <table id="retrieval_job_table" class="table table-striped dt-responsive w-100"></table>
      <div class="mass-actions-user mt-4">
        <div class="btn-group" data-acl="{{ acl.retrievaljobs }}">
          <div class="btn-group">
            <a class="btn btn-sm btn-xs-half d-block d-sm-inline btn-secondary" id="toggle_multi_select_all" data-id="retrievaljob" href="#"><i class="bi bi-check-all"></i> {{ lang.mailbox.toggle_all }}</a>
            <a class="btn btn-sm btn-xs-half d-block d-sm-inline btn-secondary dropdown-toggle" data-bs-toggle="dropdown" href="#">{{ lang.mailbox.quick_actions }}</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" data-action="edit_selected" data-id="retrievaljob" data-api-url='edit/retrievaljob' data-api-attr='{"active":"1"}' href="#">{{ lang.mailbox.activate }}</a></li>
              <li><a class="dropdown-item" data-action="edit_selected" data-id="retrievaljob" data-api-url='edit/retrievaljob' data-api-attr='{"active":"0"}' href="#">{{ lang.mailbox.deactivate }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" data-datatables-expand="retrieval_job_table" data-table="retrieval_job_table" href="#">{{ lang.datatables.expand_all }}</a></li>
              <li><a class="dropdown-item" data-datatables-collapse="retrieval_job_table" data-table="retrieval_job_table" href="#">{{ lang.datatables.collapse_all }}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" data-action="delete_selected" data-id="retrievaljob" data-api-url='delete/retrievaljob' href="#">{{ lang.mailbox.remove }}</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <a class="btn btn-sm d-block d-sm-inline btn-success" href="#" data-bs-toggle="modal" data-bs-target="#addRetrievalJobModal"><i class="bi bi-plus-lg"></i> {{ lang.user.create_retrievaljob }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
